{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "ga": true,
    "$": true,
    "I18n": true,
    "describe": true,
    "it": true,
    "before": true,
    "after": true
  },
  "rules": {
    "func-names": ["error", "never"],
    "max-len": ["error", 120],
    "arrow-body-style": ["error", "always"],
    "no-underscore-dangle": ["off", { "allowAfterSuper": true }],
    "no-useless-constructor": ["off"],
    "class-methods-use-this": ["off"],
    "react/forbid-prop-types": ["off"],
    "react/prefer-stateless-function": ["off"]
  }
}